################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BXFin.CodingTest.Api/obj/Debug
/BXFin.CodingTest.ServicesTests/bin/Debug
/BXFin.CodingTest.ServicesTests/obj/Debug
